.ruff_cache
.env*
!.env.example
.claude/
.opencode/skills/amap-jsapi-skill/
.opencode/skills/element-ai-vue-helper/
__pycache__
.pytest_cache
temp
opencode_web
*.log
CLAUDE.md
node_modules
dist